<div class="card w-50 mx-auto mt-4">
    <h4 class="card-header text-center">Sign Up</h4>
    <div class="card-body">
        <form action="" #r=ngForm>
            <div class="from-group">
                <label >fullname</label>
                <input type="text" ngModel name="fullname" class="form-control" minlength="4" required>
                <div *ngIf="r.controls['fullname']?.['touched']&& r.controls['fullname']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['fullname']?.['errors']?.['required']">
                        user name is required
                    </div>
                    <div *ngIf="r.controls['fullname']?.['errors']?.['minlength']">
                        user name is mimimum 4 character

                    </div>
                </div>
                
            </div>
            <div class="from-group">
                <label >email</label>
                <input type="email" ngModel name="email" class="form-control" required email >
                <div *ngIf="r.controls['email']?.['touched']&& r.controls['email']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['email']?.['errors']?.['required']">
                        email is required
                    </div>
                    <div *ngIf="r.controls['email']?.['errors']?.['email']">
                        email is invailed

                    </div>
                </div>
            </div>
            <div class="from-group">
                <label >password</label>
                <input type="password" ngModel name="password" class="form-control" minlength="8" required>
                <div *ngIf="r.controls['password']?.['touched']&& r.controls['password']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['password']?.['errors']?.['required']">
                        password is required
                    </div>
                    <div *ngIf="r.controls['password']?.['errors']?.['minlength']">
                        password is 8 characters

                    </div>
                </div>
            </div>
            <div class="from-group">
                <label >confirm password</label>
                <input type="password" ngModel name="cpassword" class="form-control" >
                <div *ngIf="r.controls['cpassword']?.['touched']&& r.controls['password']?.['value']!=r.controls['cpassword']?.['value']" class="invalid">
                    password must match
                    </div>

                </div>
                <div class="form-group">
                    <label class="label-form">document</label>
                    <input type="file" ngModule name="file" class="form-control" accept=".pdf" >
                    
                    </div>
                
            <br>
             
            <button class="btn btn-primary " (click)="show(r)" [disabled]="r.invalid">Sign Up</button>
        </form>
    </div>
</div>